$inputBody: #f0f1f1;
$inputFocus: #008f79;
$searchButton: #008f79;
$searchButtonHover: #026958;
$sellBtn: #ff2636;
$typeCardBg: #f0f1f1; 

$primaryGreen: #008f79;
$secondaryGreen: #026958;

$primaryGrey: #57585a;
$primaryBlack: #2c2c2d;
$secondaryBlack: #414244;

$primaryFontSize: 14px;
$secondaryFontSize: 16px;
$tertiaryFontSize: 24px;

$primaryLineHeight: 22px;
$secondaryLineHeight: 32px;
$tertiaryLineHeight: 38px;

$primaryFontWeight: 400;
$secondaryFontWeight: 600; 
$tertiaryFontWeight: 800;

$facebookBtn: #4567b2;

$primaryRed: #ff2636;

$primaryDisable: #c5c5c6;